.form__container {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

@media screen and (max-width: 550px) {
    .form__container {
        flex-direction: column;
        align-items: center;
    }
}