.form__submit-button {
    width: 84%;
    height: 50px;
    border: 0;
    margin: 5px 0 0;
    padding: 0;
    background-color: #ff8282;
    color: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.form__submit-button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }

  @media screen and (max-width: 550px) {
    .form__submit-button {
        margin: 0 0 23px;
        width: 285px;
        height: 45px;
    }
}